@import "../../project_constants.scss";

.navbar {
  width: 100%;
  height: 87px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  backdrop-filter: blur(15px);

  .nav-brand {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 183.333% */

    margin-left: 110px;
    margin-right: 103px;
  }

  .nav-link-container {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .nav-link-text {
      color: #525560;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      text-decoration: none;
    }
  }

  .donate-button {
    display: flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    background: $primary-text;

    color: #fff;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-left: 100px;
  }
}
