@import "../../project_constants.scss";

.donation-container {
  width: 100%;
  background-color: #000;
  padding: 86px 110px;

  .donation-content {
    display: flex;
    justify-content: space-between;
    .donation-textcontent {
      margin-top: 3.5rem;
      width: 48%;
      h2.header-text {
        color: #fff;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }

      p.paragraph-text {
        color: #fff;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }

      .donation-legend {
        display: flex;
        .legend-item {
          display: flex;
          align-items: center;

          .legend-color {
            margin-right: 0.5rem;
            width: 16px;
            height: 16px;
            border-radius: 4px;
          }
          .legend-text {
            margin-right: 1.5rem;

            color: #fff;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
          }
        }
      }
    }
  }
}
