@import "../../project_constants.scss";
.knowaboutus-container {
  width: 100%;
  // aspect-ratio: 375/217;
  background-color: #fff;
  padding: 86px 110px;

  .knowaboutus-content {
    display: flex;

    .knowaboutus-leftsection {
      width: 60%;

      .knowaboutus-title {
        color: $primary-text;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        position: relative;
        margin-top: 90px;

        &::before {
          content: "";
          width: 72px;
          left: -96px;
          top: 50%;
          position: absolute;
          border: 1px solid $primary-text;
        }
      }

      .knowaboutus-header {
        color: $primary-text;
        font-size: 48px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 57.6px;
        word-wrap: break-word;
        margin-top: 32px;
      }

      .knowaboutus-subheader {
        color: $primary-text;
        font-size: 27px;
        font-family: Roboto;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 32.4px;
        word-wrap: break-word;
      }

      .knowaboutus-paragraph {
        color: $primary-text;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 25.6px;
        word-wrap: break-word;
        margin-top: 17px;
        margin-right: 40px;
      }

      .knowaboutus-learnmore {
        margin: 80px 0 20px;
        display: inline-flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: $primary-yellow;
        backdrop-filter: blur(40px);
        border: none;

        color: #000;
        text-align: right;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .knowaboutus-video {
      width: 40%;
      aspect-ratio: 259/289;
      border-radius: 20px;
      background-image: url("../../assets/images/know-about-us.jpg");
      background-repeat: no-repeat;
    }
  }

  .supporters-row {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    color: $primary-text;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;

    .supporters-logo-row {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
