@import "../../project_constants.scss";

.projects-container {
  width: 100%;
  background-color: #fff;
  padding: 86px 110px;

  .projects-content {
    .projects-title {
      display: flex;
      align-items: center;
      color: $primary-text;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
      margin-bottom: 2rem;

      .horizontal-line {
        width: 7rem;
        border-top: 2px solid $primary-text;
        margin-right: 1rem;
      }
    }

    .projects-header {
      margin-left: 8rem;
      width: 45%;

      color: $primary-text;
      font-size: 48px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 57.6px;
      word-wrap: break-word;
    }

    .projects-cardlist {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      margin-top: 5rem;

      .project1 {
        background-image: url("../../assets/images/project1.jpg");
      }

      .project2 {
        background-image: url("../../assets/images/project2.jpg");
      }

      .project3 {
        background-image: url("../../assets/images/project3.jpg");
      }
    }
  }
}
