@import "../../project_constants.scss";
.readMoreMessage-container {
  width: 100%;
  padding: 86px 290px;
  .readMoreMessage-content {
    .readMoreMessage-title {
      display: flex;
      align-items: center;
      color: $primary-text;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;

      .horizontal-line {
        width: 7rem;
        border-top: 2px solid $primary-text;
        margin-right: 1rem;
      }
    }
    .readMoreMessage-textcontent {
      margin-left: 8rem;
      .readMoreMessage-header {
        color: $primary-text;
        font-size: 56px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 67.2px;
        word-wrap: break-word;
        margin-top: 2rem;
      }
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
